{{define "request" -}}
#set( $keyFields={{ .KeyFieldMapJSON }} )
{
    "version" : "2017-02-28",
    "operation" : "PutItem",
    "key" : {
        #foreach( $key in $keyFields.keySet() )
        "$key": $util.dynamodb.toDynamoDBJson($ctx.args.input.get("$key")),
        #end
    },
    "attributeValues" : $util.dynamodb.toMapValuesJson($ctx.args.input)
}
{{- end}}