# Generated at {{now}}
resource "aws_appsync_resolver" "{{.ResolverIdentifier}}" {
  api_id            = aws_appsync_graphql_api.record.id
  type              = "{{.Parent}}"
  field             = "{{.FieldName}}"
  data_source       = aws_appsync_datasource.record.name
  request_template  = <<EOF
{{template "request" .}}
EOF
  response_template = <<EOF
{{template "response" .}}
EOF
}